{% extends "_base.html" %}
{% block content %}

  <div class="card-columns courses-list">
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="static/images/courses-linux-thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Linux System Administration</h5>
              <!-- <p class="card-text">Segundo curso da Nova Formação Linux,
              onde o aluno aprenderá como administrar o sistema Linux,
              trabalhando na linha de comando com Shell Script e banco de dados,
               além do gerenciamento de pacotes, processos, redes, usuários,
                servidor NTP e Logs com soluções de Cloud Computing e Container com Docker.</p> -->
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="fa fa-id-card-o"></span>  Júlio Ballot</li>
              <li class="list-group-item"><span class="fa fa-clock-o"></span>  40h</li>
              <li class="list-group-item"><span class="fa fa-calendar"></span>  10/10/2020 - 14/10/2020</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Ementa</a>
              <a href="#" class="card-link">Contato</a>
            </div>
          </div>

          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="static/images/courses-devops-thumbnail.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">CI/CD - Integração e Entrega Contínua</h5>
              <!-- <p class="card-text">Durante todo o curso o aluno irá executar de forma prática todas as etapas
                 e boas práticas que um desenvolvedor precisa realizar para ser parte integrante de um time de
                 desenvolvimento promovendo um ambiente de colaboração dentro de um projeto de software. </p> -->
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="fa fa-id-card-o"></span>  Júlio Ballot</li>
              <li class="list-group-item"><span class="fa fa-clock-o"></span>  24h</li>
              <li class="list-group-item"><span class="fa fa-calendar"></span>  14/09/2020 -16/09/2020</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Ementa</a>
              <a href="#" class="card-link">Contato</a>
            </div>
          </div>



  </div> <!-- Ending courses-list content -->


{% endblock %}
